/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
td,
th {
  border: 0.5px solid #777 !important;
  color: #333;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 70px;
}

.table.ayos thead tr th {
  background-color: #fff !important;
}
.table.ayos thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
}
.table.ayos thead tr:nth-child(2) th {
  position: sticky;
  top: 42px;
}
.table.ayos thead tr:nth-child(3) th {
  position: sticky;
  top: 84px;
}
.table.ayos thead tr:nth-child(4) th {
  position: sticky;
  top: 126px;
}
.table.ayos {
  border-collapse: separate !important;
  border-spacing: 0px;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.st-color {
  background: #7fb5eb !important;
}
.mhpp-color {
  background: var(--yellow-color) !important;
}
#multiplier td:last-of-type,
#xd td:last-of-type {
  background: var(--yellow-color) !important;
}
.content::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-track {
  background: #ebebeb;
}
.content::-webkit-scrollbar-thumb {
  background: #6383a1;
  border-radius: 25px;
}

:root {
  --main-blue: #3980c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;

  --red-color: #ff6b6b;
  --yellow-color: #feca57;
  --text-color: #555;
  --header-color: #444;
  --lightblue-color: #476f95;
  --green-color: #7bae37;
}

.home-content {
  width: 100%;
}
.home-content .title {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: var(--darkest-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-content .title h1 {
  font-size: 45px;
  font-weight: 600;
}
.home-content .title .backbtn {
  display: inline-flex;
  text-decoration: none;
  color: #ddd;
  margin-right: auto;
}
.home-content .title a:hover i,
.home-content .title a:hover h5 {
  color: #fc9842;
  transition: color 0.5s;
}
.home-content .content {
  height: calc(100% - 120px);
}
.right button {
  width: 100px;
}
.right button:first-child {
  margin-right: 10px;
}
.right button:last-child {
  margin-left: 10px;
}
.lower {
  height: calc(100vh - 120px);
}
.content .lower .left {
  width: 300px;
}

.lower .right {
  overflow: auto;
  background-color: #ededed;
  width: calc(100% - 300px);
  padding: 0 20px;
}
.lower .noShow h1 {
  background-color: var(--darkest-blue);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.lower .noShow {
  background-color: #ededed;
  width: calc(100% - 300px);
}
.memBtn:active {
  background-color: var(--darkest-blue);
}
#members-list {
  overflow: auto;
  max-height: calc(100vh - 600px);
}
.tog {
  display: none;
}
/*loaderrrrr*/

.cs-loader {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 25000;
  display: flex;
  justify-content: center;
}
.wfh {
}
.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
  color: var(--main-blue);
}

.halfDay {
  background-color: #ffa500 !important;
}
.holiday {
  background-color: #f08080;
}
.jmrHours {
  background-color: #a80000;
}
.invalid {
  background-color: #ff0000;
}
.noInOut {
  background-color: #ffff00 !important;
}
.ams {
  background-color: #ff6cff;
}
.wfh {
  background-color: #ffc0cb;
}
.amsSelected {
  background-color: #d3d3d3;
}
.overStay {
  background-color: #00ffff;
}

/* checkbox */
.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}
.checkbox::after {
  content: "";
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left 0.3s;
}
.checkbox:checked {
  background: rgb(32, 191, 85);
  background: linear-gradient(
    45deg,
    rgba(32, 191, 85, 1) 0%,
    rgba(1, 186, 239, 1) 100%
  );
}
.checkbox:checked::after {
  left: 75%;
  content: "\2713";
  background-color: #fff;
  color: var(--text-color);
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 1.5s infinite ease-in-out;
  animation: lol 1.5s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 1.5s 100ms infinite ease-in-out;
  animation: lol 1.5s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 1.5s 200ms infinite ease-in-out;
  animation: lol 1.5s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 1.5s 300ms infinite ease-in-out;
  animation: lol 1.5s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 1.5s 400ms infinite ease-in-out;
  animation: lol 1.5s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 1.5s 500ms infinite ease-in-out;
  animation: lol 1.5s 500ms infinite ease-in-out;
}

@media screen and (max-width: 900px) {
  .lower {
    overflow: auto;
    height: 100%;
  }
  .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upper .left {
    width: 100%;
  }
  .upper .right {
    width: 100%;
  }
  .right button {
    width: 100%;
    margin: 10px;
  }
  .home-content {
    height: 100%;
  }
  .home-content .title h1 {
    font-size: 25px;
  }
  .content .lower .left {
    position: absolute;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .lower .right {
    padding: 0;
    margin-top: 20px;
  }
  .lower .right,
  .lower .noShow {
    height: 100%;
    width: 100%;
  }
  #members-list {
    overflow: auto;
    max-height: calc(100vh - 740px);
  }
  body {
    overflow: auto;
  }
  .tog {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  .left.hide .tog {
    transform: rotate(180deg);
    top: -18px;
  }
  .left.hide > div:not(:last-of-type) {
    display: none;
  }
  .left.hide {
    padding: 10px !important;
    opacity: 0;
  }
}

@media screen and (max-width: 575px) {
  .lower {
    overflow: auto;
    height: 100%;
  }
}
.bx-info-circle:before {
  content: "\eb21";
}
