/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: fit-content;
}
th {
  font-weight: 400 !important;
}
th:not(.last) {
  border-right: 0.25px solid #000 !important;
  color: #000;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
td {
  color: #000;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 0.25px solid #000 !important;
}
td:not(:last-of-type) {
  border-right: 0.25px solid #000 !important;
}
thead tr:nth-of-type(2) th {
  border-top: 0.25px solid #000 !important;
}
tr.weekend {
  border-left: 0.25px solid #000 !important;
  border-right: 0.25px solid #000 !important;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

.st-color {
  background: #7fb5eb !important;
}
.mhpp-color {
  background: var(--yellow-color) !important;
}
/* #multiplier td:last-of-type,
#xd td:last-of-type{
  background:var(--yellow-color) !important;
} */
.content::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-track {
  background: #ebebeb;
}
.content::-webkit-scrollbar-thumb {
  background: #6383a1;
  border-radius: 25px;
}

:root {
  --main-blue: #3980c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;

  --red-color: #ff6b6b;
  --yellow-color: #feca57;
  --text-color: #555;
  --header-color: #444;
  --lightblue-color: #476f95;
  --green-color: #7bae37;
}
#toPrint {
  color: #000 !important;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}
#toPrint table td,
th {
  color: #000;
}
/* modal */
.modal-header {
  background-color: var(--main-blue);
}
.modal-header h1 {
  color: #fff;
}
.btn-O {
  background-color: var(--main-blue) !important;
  color: #fff !important;
}
.btn-O:hover {
  background-color: var(--lightblue-color) !important;
}

/* home */
.home-content {
  width: 100%;
}
.home-content .title {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: var(--darkest-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-content .title h1 {
  font-size: 30px;
  font-weight: 600;
}
.home-content .title .backbtn {
  display: inline-flex;
  text-decoration: none;
  color: #ddd;
  margin-right: auto;
}
.home-content .title a:hover i,
.home-content .title a:hover h5 {
  color: #fc9842;
  transition: color 0.5s;
}
.home-content .content {
  height: calc(100vh - 120px);
  display: flex;
}

.left {
  position: relative;
  background-color: #ebebeb;
  height: 100%;
}

.right button {
  width: 100px;
}
.right button:first-child {
  margin-right: 10px;
}
.right button:last-child {
  margin-left: 10px;
}
.signature {
  margin-top: 35px;
}
table-cont {
  height: 615px;
}
/* 
td .toke {
  -webkit-appearance: none !important;
  position: relative;
  width: 15px !important;
  height: 12px !important;
  border: 1px solid #333 !important;
  border-radius: 50% !important;
  cursor: pointer;
  transition: 0.3s all;
  vertical-align: middle;
}
td .toke.checked {
  fill: black;
} */
.custom-checkbox {
  width: 16px !important;
  height: 13px !important;
  cursor: pointer;
}

.custom-checkbox.checked .circle {
  display: block;
  fill: #777;
}
/* checkbox */
.checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}
.checkbox::after {
  content: "";
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #fff;
  transition: left 0.3s;
}
.checkbox:checked {
  font-size: 12px;
  background: var(--main-blue);
}
.checkbox:checked::after {
  left: 75%;
  content: "\2713";
  background-color: #fff;
  color: var(--text-color);
}

/*         DESCRIPTION */
#descriptionList {
  height: 38px;
  padding: 6px 8px 6px 12px;
  border: 1px solid #dee2e6;
}
#descriptionList.open .arrow-down {
  transform: rotate(-180deg);
}
#descriptionList .arrow-down {
  transition: 0.3s;
}
.list-items {
  position: relative;
  display: none;
  border: 1px solid #dee2e6;
}
#descriptionList.open ~ .list-items {
  display: block;
}
.list-items .item {
  display: flex;
  align-items: center;
  height: 30px;
  transition: 0.3s;
}
.list-items .item:hover {
  background-color: #476f9524;
  cursor: pointer;
}
.item .checkboxx {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-left: 12px;
  border-radius: 4px;
  border: 1.5px solid #a7aaad;
  transition: all 0.3s ease-in-out;
}

.item.checked .checkboxx {
  background-color: var(--main-blue);
  border-color: var(--main-blue);
}
.item .item-text {
  pointer-events: none;
}
.item i {
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
.item.checked i {
  transform: scale(1);
}
/*    TAAAAAAABLE */
.weekend {
  background-color: #c4c4c4;
}
/* table th:not(:last-child) {
  border: 0;
  border-left: 0.25px solid #000 !important;
} */
table thead th {
  font-size: 12px;
}
table thead th {
  height: 18px;
  padding: 0 !important;
  text-align: center;
}
table thead th.sm {
  width: 40px;
}
table thead th.break {
  white-space: wrap;
}
table thead th.des,
table tbody td.des {
  width: 330px;
  max-width: 330px;
  overflow: hidden;
}
table thead tr:first-of-type th:last-of-type {
  width: 150px;
}
table thead tr {
  height: 18px;
}
table tbody tr {
  overflow: hidden;
  height: 18px;
}
tbody td.nan {
  border: 0 !important;
}
tbody tr:not(:last-of-type) {
  border-left: 0.25px solid #000;
  border-right: 0.25px solid #000;
}
table tbody td {
  overflow: hidden;
  height: 18px;
  padding: 0;
  margin: 0 !important;
  font-size: 13px;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  .noShow div {
    font-size: 25px;
  }
}

@media screen and (min-width: 1300px) {
  .home-content .title h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1420px) {
  .home-content .title h1 {
    font-size: 42px;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
    color: #000 !important;
    background-color: #fff;
  }
  .table td {
    font-size: 12px !important;
  }
  #toPrint {
    padding: 8mm 9mm 8mm 18mm;
  }
  #toPrint table {
    border: 0.5px solid #000;
  }

  td .toke:checked {
    background-color: #777;
  }
}
