/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: fit-content;
}

body {
  background: #fff;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-size: 16px;
}

.select:focus {
  border: 1px solid var(--blue1);
  outline: 0;
  box-shadow: 0 0 0.25rem 0.25rem rgba(128, 175, 240, 0.3);
}
.select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}

#drInstruction {
  z-index: 1105;
}

#editEntry {
  z-index: 1085;
}

/* .st-color {
  background: #7fb5eb !important;
}
.mhpp-color {
  background: var(--yellow-color) !important;
} */
/* #multiplier td:last-of-type,
#xd td:last-of-type{
  background:var(--yellow-color) !important;
} */
.content::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-track {
  background: #ebebeb;
}
.content::-webkit-scrollbar-thumb {
  background: #6383a1;
  border-radius: 25px;
}

:root {
  --main-blue: #3880c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;

  --red-color: #ff6b6b;
  --yellow-color: rgb(254, 201, 88);
  --text-color: #555;
  --header-color: #444;
  --lightblue-color: #476f95;
  --green-color: #7bae37;

  /* test these color combinations */
  /* NEW */
  --magnolia: #fcf7ff;
  --whitegray: #ededed;
  --black1: #171717;
  --black2: #100808;
  --metal: #22333b;
  --silver: #838996;
  --arsenic: #3b444b;

  --red1: #e4002b;
  --red2: #da0037;
  --red3: #bd1616;
  --red4: #950101;
  --red5: #3d0000;
  --gray1: #cccccc;
  --gray2: #666666;
  --blue1: #80aff0;
  --blue2: #33425b;
  --blue3: #1347a1;
  --blue4: #415e91;
  --blue5: #e6f0ff;
}
/* MODAL */
.modal-header {
  background-color: var(--blue4);
  color: var(--magnolia);
}
.modal-header h1 {
  color: var(--magnolia);
}
.modal .modal-header .btn-close {
  color: var(--magnolia);
}
.btn-ok {
  font-weight: 500;
  color: var(--magnolia);
  background: var(--blue1);
  background: linear-gradient(135deg, var(--blue1) 1%, var(--blue2) 100%);
}
.btn-ok:hover {
  color: var(--magnolia);
  background: var(--blue2);
  background: linear-gradient(135deg, var(--blue2) 1%, var(--blue1) 100%);
}

/* ENTRY EDIT MODAL */

#editEntry .modal-body {
  height: 510px;
  overflow-y: auto;
  overscroll-behavior: contain;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal .modal-body label {
  font-weight: 600;
}

.areaText {
  width: 95%;
}

.btn-Ecancel {
  border: 2px solid var(--red3);
  color: var(--red3);
}
.btn-Ecancel:hover {
  border: 2px solid var(--red2);
  background: var(--red2);
  color: var(--magnolia);
}
.modal .modal-footer .btn-Ecancel:active {
  border: 2px solid var(--red4);
  background: var(--red4);
  color: var(--magnolia);
}
.btn-Eupdate {
  /* background: var(--blue3); */
  color: var(--blue3);
  border: 2px solid var(--blue3);
}
.btn-Eupdate:hover {
  color: var(--magnolia);
  border: 2px solid var(--blue4);
  background: var(--blue4);
}
.modal .modal-footer .btn-Eupdate:active {
  background: var(--blue2);
  color: var(--magnolia);
  border: 2px solid var(--blue2);
}

.emp-edit {
  font-weight: 600;
  color: var(--blue1);
}

.edt-radio-buttons {
  width: 100%;
  margin: 0;
  text-align: center;
}

.modal-content .modal-body .edt-custom-radio input {
  display: none;
}
.modal-content .modal-body .edt-custom-radio .edt-radio-btn {
  margin: 5px;
  width: 100px;
  height: 65px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px var(--gray1);
  /* border: 1px solid var(--arsenic); */
  cursor: pointer;
}
.modal-content .modal-body .edt-custom-radio .edt-radio-btn > i {
  color: #fff;
  background: linear-gradient(45deg, var(--blue1) 0%, var(--blue2) 100%);

  font-size: 15px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50%;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}
.modal-content .modal-body .edt-radio-btn .edt-radio-content {
  position: absolute;
  top: 40%;
  left: 50%;
  padding-top: 15px;
  transform: translate(-50%, -50%);
}
.modal-content .modal-body .edt-radio-btn .edt-radio-content small {
  color: var(--blue3);

  font-weight: 600;
}
.modal-content
  .modal-body
  .edt-radio-buttons
  .edt-custom-radio
  input:checked
  + .edt-radio-btn {
  border: 2px solid var(--blue1);
  /* background-color: var(--blue1); */
  color: var(--blue2);
}
.modal-content
  .modal-body
  .edt-radio-buttons
  .edt-custom-radio
  input:checked
  + .edt-radio-btn
  > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.modal-content .modal-body .checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}
.modal-content .modal-body .checkbox::after {
  content: "";
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left 0.3s;
}
.modal-content .modal-body .checkbox:checked {
  background: linear-gradient(45deg, var(--blue2) 0%, var(--blue1) 100%);
}
.modal-content .modal-body .checkbox:checked::after {
  left: 75%;
  content: "\2713";
  color: #11101d;
  color: var(--black1);
}

/* DELETE MODAL */

.delMBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px 0;
  font-size: 1.25rem;
}

.btn-Edelete {
  color: var(--magnolia);
  background: var(--red2);
}
.btn-Edelete:hover {
  color: var(--magnolia);
  background: var(--red4);
}
.modal .modal-footer .btn-Edelete:active {
  color: var(--red1);
  background: var(--magnolia);
  border: 2px solid var(--red1);
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--black2);
  z-index: 10000;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar .logo-details .logo_name.home {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: calc(100% - 120px);
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sidebar .nav-links li:hover {
  background: var(--blue1);
}
.sidebar .nav-links li i:hover {
  color: var(--magnolia);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 56px;
  min-width: 78px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a .link_name:hover {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  transition: all 0.4s ease;
}

.sidebar .logo_name {
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  transition: all 0.4s ease;
}
.sidebar.close .logo_name {
  display: none;
  pointer-events: none;
  opacity: 0;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 50px;
  margin-top: -10px;
  background: var(--blue1);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: var(--magnolia);

  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  z-index: 10000000;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25) inset;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

/* topbar */

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.user-name h5 {
  font-size: 20px;
  margin-bottom: 0;
  color: var(--magnolia);
}

.user-name h5 span {
  color: var(--blue1);
}

.user img {
  object-fit: cover;
}

footer {
  background: var(--black1);
}
.footer-text {
  color: var(--magnolia);

  font-size: 11px;
}
.footer-text a {
  font-weight: 600;
  color: var(--blue1);
}

/* home */
/* .home-content {
  width: 100%;
}
.home-content .title {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: var(--darkest-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-content .title h1 {
  font-size: 30px;
  font-weight: 600;
}
.home-content .title .backbtn {
  display: inline-flex;
  text-decoration: none;
  color: #ddd;
  margin-right: auto;
}
.home-content .title a:hover i,
.home-content .title a:hover h5 {
  color: #fc9842;
  transition: color 0.5s;
}
.home-content .content {
  height: calc(100vh - 120px);
  display: flex;
} */

.home-section .home-content {
  background-color: #eeeded;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.home-section {
  position: relative;

  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;

  background: var(--blue-darkest);
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-topbar {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background: var(--metal);
}

.home-section .home-topbar .bx-menu,
.home-section .home-topbar .text {
  color: var(--magnolia);
  font-size: 35px;
}

.home-section .home-topbar .bx-menu {
  cursor: pointer;
}

.home-section .home-topbar .text {
  font-size: 26px;
  font-weight: 600;
}

.page-title .webname {
  font-size: 90px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}

.page-title .title {
  font-size: 55px;
  width: 98%;
  height: 93%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background: var(--arsenic);
  opacity: 1;
  color: var(--magnolia);
  font-weight: 500;
}

.page-title .pg-title-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 75px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);

  background: var(--blue1);
}

.page-title {
  align-self: start;
}

.cont .maindiv {
  width: 100%;
}

.cont {
  height: calc(100vh - 60px);
  justify-content: center;
  background: var(--arsenic);
}
.lefty,
.righty {
  overflow: auto;
  height: calc(100vh - 220px);
}
.lefty::-webkit-scrollbar {
  display: none;
}

/* LEFT CONTENT (FORM) */

option {
  position: sticky;
}

.maindiv .left .page-title {
  font-weight: 600;
  color: var(--main-blue);
}
.radio-buttons {
  width: 100%;
  margin: 0;
  text-align: center;
}

.cont .maindiv .left .left-cont .custom-radio input {
  display: none;
}
.cont .maindiv .left .left-cont .custom-radio .radio-btn {
  margin: 5px;
  width: 100px;
  height: 65px;

  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}
.custom-radio .radio-btn > i {
  color: #fff;
  background: linear-gradient(45deg, var(--blue1) 0%, var(--blue2) 100%);

  font-size: 15px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50%;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}
.radio-btn .radio-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio-btn .radio-content small {
  color: var(--blue3);
  /* color: var(--red1); */

  font-weight: 600;
}
.radio-buttons .custom-radio input:checked + .radio-btn {
  border: 2px solid var(--blue1);
}
.radio-buttons .custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.left .left-cont .checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}
.left .left-cont .checkbox::after {
  content: "";
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left 0.3s;
}
.left .left-cont .checkbox:checked {
  background: linear-gradient(45deg, var(--blue2) 0%, var(--blue1) 100%);
}
.left .left-cont .checkbox:checked::after {
  left: 75%;
  content: "\2713";
  color: #11101d;
  color: var(--black1);
}
.left .left-cont .btn-add {
  background: var(--blue1);
  background: linear-gradient(45deg, var(--blue1) 0%, var(--blue2) 100%);

  font-weight: 600;
  color: var(--magnolia);
  border: 3px solid var(--blue1);
}
.left .radio-buttons .radio-btn .radio-content .top {
  margin-top: 10px;
  font-size: 17px;
}
.left .radio-buttons .radio-btn .radio-content small {
  font-size: 12px;
}
.left .left-cont .btn-reset {
  border: 3px solid var(--red2);
  color: var(--red2);
  font-weight: 500;
}
.left .left-cont .btn-edit {
  border: 3px solid var(--yellow-color);
  color: #d6a02b;
  font-weight: 500;
}
.left .left-cont .btn-edit[disabled] {
  border: 3px solid #dab971cc;
  color: #dab871;
}
.left .left-cont .btn-reset:hover {
  border: 3px solid var(--red4); /* change depending on chosen color */
  background: var(--red4);
  background: linear-gradient(45deg, var(--red5) 0%, var(--red2) 100%);
  color: #fff;
}

.left .left-cont .btn-edit:hover {
  border: 3px solid transparent;
  background: var(--yellow-color);
  color: #fff;
}

.left .left-cont .btn-add:hover {
  color: var(--magnolia);
  border: 3px solid var(--blue2);
  background: var(--blue2);
  background: linear-gradient(45deg, var(--blue2) 0%, var(--blue1) 100%);
  transition: all 0.5s ease;
}
.btn {
  letter-spacing: 1px;
}

/* RIGHT CONTENT (Table Display) */
.top-right {
  height: 100%;
}
.right .card {
  position: relative;
  width: 100%;
  height: 80px;
  background: #fff;
  /* margin: 15px; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
  transition: ease 0.5s;
  z-index: 1;
  border: none;
}
.right .card::after {
  width: 100%;
  height: 100%;
  background: var(--red1);
  background: linear-gradient(45deg, var(--blue1) 1%, var(--blue2) 100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 60% 0, 45% 100%, 0% 100%);
  transition: 0.5s;
}
.right .card.new::after {
  background: var(--red1);
  background: linear-gradient(45deg, var(--red2) 20%, var(--red5) 100%);
}
.right .card:hover::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.right .card:hover .card-title {
  font-size: 50px;
}
.right .card .content p {
  font-weight: 800;
  color: var(--magnolia);
}
.right .card:hover .content p {
  /* color: #fff; */
  color: var(--magnolia);
  font-weight: 600;
}
.right .right-cont .btn-copy {
  background: linear-gradient(45deg, var(--blue1) 0%, var(--blue2) 100%);

  border: none;
  color: #fff;
}
.right .right-cont .btn-copy:hover {
  background: var(--silver);
  background: linear-gradient(45deg, var(--blue2) 0%, var(--blue1) 100%);
  color: #fff;
}
.right .right-cont .btn-copy:active {
  background: var(--arsenic);
  color: #fff;
}

.right .card .circle {
  position: relative;
  height: 100%;
  clip-path: circle(75px at 50% 0);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.right .card .circle .card-title {
  color: var(--magnolia);
  padding: 8px;
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}
.right .card .content {
  position: relative;
  bottom: 0px;
  padding: 8px;
  text-align: center;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.right .card .content p {
  color: var(--text-color);
  margin: 0;
  font-weight: 500;
}

.right .table-container {
  height: calc(100vh - 450px);
  overflow: auto;
  overscroll-behavior: contain;
}
.right .table-container .rounded-2 {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
}
.right .table-container .table .col-header {
  color: var(--main-blue);
}
.right .table-container .table tbody tr:hover {
  /* background: var(--whitegray); */
  background: var(--blue5);
}
.right .table-container .table tbody tr:hover td {
  color: var(--metal);
}
.right .table-container .table tbody tr td:last-child {
  white-space: nowrap;
}
.right .table-container .table .entry-none h2 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 500;
}
.right .btn-export {
  background: var(--card-color);
  background: linear-gradient(
    45deg,
    rgba(254, 95, 117, 1) 0%,
    rgba(252, 152, 66, 1) 100%
  );
  opacity: 1;
  border: 3px solid transparent;
  font-weight: 600;
  color: #fff;
}
.right .btn-export:hover {
  background: var(--card-color);
  background: linear-gradient(
    45deg,
    rgb(221, 84, 102) 0%,
    rgb(201, 122, 54) 100%
  );
  opacity: 1;
}
.right .bot-title {
  color: #3980c7;
  font-weight: 500;
}
.right .bot-table-container .table tbody tr:hover {
  background-color: var(--main-blue);
}
.right .bot-table-container .table tbody tr:hover td {
  color: #fff;
}
.right .bot-table-container .table thead th {
  color: var(--header-color);
}
.right .table-container .table thead th {
  color: var(--header-color);
}

/* ACTION BUTTONS (Table)*/
.dupeBut {
  height: 40px;
  width: 40px;
  /* background-color: var(--blue3); */
  border: 2px solid var(--blue3);
  border-radius: 20px;
  /* color: var(--magnolia); */
  margin: 1px;
}
.dupeBut:hover {
  background-color: var(--blue3);
  color: var(--magnolia);
}
.editBut {
  height: 40px;
  width: 40px;
  /* background-color: var(--blue2); */
  border: 2px solid var(--blue2);
  /* color: var(--magnolia); */
  border-radius: 20px;
  margin: 1px;
}
.editBut:hover {
  background-color: var(--blue2);
  color: var(--magnolia);
}
.delBut {
  height: 40px;
  width: 40px;
  /* background-color: var(--red3); */
  border: 2px solid var(--red3);
  /* color: var(--magnolia); */
  border-radius: 20px;
  margin: 1px;
}
.delBut:hover {
  background-color: var(--red3);
  color: var(--magnolia);
}

/*loaderrrrr*/

.cs-loader {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 25000;
  display: flex;
  justify-content: center;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
  color: var(--main-blue);
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 1.5s infinite ease-in-out;
  animation: lol 1.5s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 1.5s 100ms infinite ease-in-out;
  animation: lol 1.5s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 1.5s 200ms infinite ease-in-out;
  animation: lol 1.5s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 1.5s 300ms infinite ease-in-out;
  animation: lol 1.5s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 1.5s 400ms infinite ease-in-out;
  animation: lol 1.5s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 1.5s 500ms infinite ease-in-out;
  animation: lol 1.5s 500ms infinite ease-in-out;
}

/* SELECT EMPLOYEE */

.emp.active .content {
  display: block;
  position: sticky;
}
.emp .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.emp .content .search {
  position: relative;
}
.emp .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.emp .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.emp .content .emp .content .options::-webkit-scrollbar {
  width: 7px;
}
.emp .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.emp .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.emp .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.emp .content .options li:hover {
  background: var(--magnolia);
  color: var(--white);
}

/* SELECT PROJECT */

.proj.active .content {
  display: block;
  position: sticky;
}
.proj .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.proj .content .search {
  position: relative;
}
.proj .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.proj .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.proj .content .proj .content .options::-webkit-scrollbar {
  width: 7px;
}
.proj .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.proj .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.proj .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.proj .content .options li:hover {
  background: var(--magnolia);
  color: var(--white);
}

/* SELECT ITEM OF WORKS */

.iow.active .content {
  display: block;
  position: sticky;
}
.iow .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.iow .content .search {
  position: relative;
}
.iow .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.iow .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.iow .content .options::-webkit-scrollbar {
  width: 7px;
}
.iow .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.iow .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.iow .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.iow .content .options li:hover {
  background: var(--magnolia);
  color: var(--white);
}

/*SELECT JRD */
.jord.active .content {
  display: block;
  position: sticky;
}
.jord .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.jord .content .search {
  position: relative;
}
.jord .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.jord .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.jord .content .options::-webkit-scrollbar {
  width: 7px;
}
.jord .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.jord .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.jord .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.jord .content .options li:hover {
  background: var(--magnolia);
  color: var(--white);
}
/* .jord .content .options li:hover {
  background: #f2f2f2;
} */
.bg-err {
  background-color: #ff6b6b3e;
}

@media screen and (max-width: 800px) {
  .noShow div {
    font-size: 25px;
  }
}

@media screen and (min-width: 1300px) {
  .home-content .title h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1420px) {
  .home-content .title h1 {
    font-size: 42px;
  }
}
