@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*#region Active Switch*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

:root{
  
  --main-blue: #3980c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;
  --blue-darkest: #001122;
  --card-color: #FC9842;
  --text-color: #555;
  --white-color: #f0f0f0;

}


.pointer {cursor: pointer;}
a{cursor:pointer;}
body {
  background-color: var(--darkest-blue);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .w3-pointer{
    cursor: pointer;
  }
  .modal-header{
    background-color: var(--main-blue);
    color: #fff;
  }

  .addproj, .additem, .addjrd{
    background: rgb(32,191,85);
    background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
  }

  .modal-body{
    font-size: 18px;
    color: #333;
  }

  .jmc{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkest-blue);
  }

  .mainBody{
    height: 95vh;
    width: 100%;
  }
  .project, .item, .jrd{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
  }
  .project .page-title .title{
    font-size: 70px;
    width: 275px;
    height: 85px;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    background: var(--card-color);
    background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
  }
  .project .page-title{
    align-self: start;
    color: #fff;
  }
  .project .content{
    align-self: center;
    height: 870px;
    background: rgb(240, 240, 240);
    border-radius: 20px;
    overflow: auto;
  }
  .project .content .title button{
    height: 45px;
    background: rgb(32,191,85);
    background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
.project .content .title button i{
  font-size: 25px;
}
  .project .content .title h1{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 1px;
    color: var(--main-blue);
  }
  .project .content .table-container{
    height: 750px;
    width: 100%;
  }
  .project .content .table-container table thead{
    font-size: 20px;
    background: var(--white-color);
  }
  .project .content .table-container table td{
   font-size: 20px;
  }
  .project .content .table-container table td button{
    height:40px;
    width: 40px;
  }
  .project .content .table-container table td button i{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .content .table-container table tbody tr:hover{
    background: var(--main-blue);
  }
  .project .content .table-container table tbody tr:hover td{
    color: #fff;
  }
  .project .content .table-container table thead th{
    color: var(--darkest-blue);
  }


/* ITEM OF WORKS */

.item .page-title .title{
  font-size: 70px;
  width: 275px;
  height: 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
}
.item .page-title{
  align-self: start;
  color: #fff;
}
.item .content{
  align-self: center;
  height: 870px;
  background: rgb(240, 240, 240);
  border-radius: 20px;
  overflow: auto;
}
.item .content .title button{
  height: 45px;
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}
.item .content .title button i{
  font-size: 25px;
}
.item .content .title h1{
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 1px;
  color: var(--tertiary-blue);
}.item .content .selectedproj{
  font-weight: 600;
}
.item .content .table-container{
  height: 720px;
  width: 100%;
}
.item .content .table-container table thead{
  font-size: 20px;
  background: var(--white-color);

}
.item .content .table-container table thead th{
  color: var(--darkest-blue);
}
.item .content .table-container table td{
 font-size: 20px;
}
.item .content .table-container table td button{
  height:40px;
  width: 40px;
}
.item .content .table-container table td button i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .content .table-container table tbody tr:hover{
  background: var(--tertiary-blue);
}
.item .content .table-container table tbody tr:hover td{
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.item .content .title .selectedCont{
  height: 50px;
 
}

.checkbox{
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;

}
.checkbox::after{
  content: '';
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left .3s;

}
.checkbox:checked{
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
}
.checkbox:checked::after{
  left: 75%;
  content: '\2713';
  background-color: #fff;
  color: var(--text-color);
}



/* JOB REQUEST DESCRIPTION */

.jrd .page-title .title{
  font-size: 70px;
  width: 275px;
  height: 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
}
.jrd .page-title{
  align-self: start;
  color: #fff;
}
.jrd .content{
  align-self: center;
  height: 870px;
  background: rgb(240, 240, 240);
  border-radius: 20px;
  overflow: auto;
}
.jrd .content .title button{
  height: 45px;
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}
.jrd .content .title button i{
  font-size: 25px;
}
.jrd .content .title h1{
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 1px;
  color: var(--tertiary-blue);
}.jrd .content .selectedproj{
  font-weight: 600;
}
.jrd .content .table-container{
  height: 720px;
  width: 100%;
}
.jrd .content .table-container table thead{
  font-size: 20px;
  background: var(--white-color);

}
.jrd .content .table-container table thead th{
  color: var(--darkest-blue);
}
.jrd .content .table-container table td{
 font-size: 20px;
}
.jrd .content .table-container table td button{
  height:40px;
  width: 40px;
}

.jrd .content .table-container table td button i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jrd .content .table-container table tbody tr:hover{
  background: var(--tertiary-blue);
}
.jrd .content .table-container table tbody tr:hover td{
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.jrd .content .title .selectedCont{
  height: 50px;
}

.checkbox{
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;

}
.checkbox::after{
  content: '';
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left .3s;

}
.checkbox:checked{
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
}
.checkbox:checked::after{
  left: 75%;
  content: '\2713';
  background-color: #fff;
  color: var(--text-color);
}