@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*#region Active Switch*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

:root{
  
  --main-blue: #3980c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;
  --blue-darkest: #001122;
  --card-color: #FC9842;
  --text-color: #555;
  --white-color: #f0f0f0;

}


.pointer {cursor: pointer;}
a{cursor:pointer;}
body {
  background-color: var(--darkest-blue);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  }



/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--main-blue);
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;

}


.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}


.sidebar .logo-details .logo_name {
  
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;

}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sidebar .nav-links li:hover {
  background: var(--tertiary-blue);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block
}

.sidebar .nav-links li i {
  height: 56px;
  min-width: 78px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;

}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  transition: all 0.4s ease;
}

.sidebar .logo_name{
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  transition: all 0.4s ease;
}
.sidebar.close  .logo_name{
  display: none;
  pointer-events: none;
  opacity: 0;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 50px;
  margin-top: -10px;
  background: var(--tertiary-blue);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #ffff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
}


.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  z-index: 10000000;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  box-shadow: 5px 0 5px rgba(0,0,0,0.25) inset;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.close~.home-section {
left: 78px;
width: calc(100% - 78px);
}


/* topbar */


.user {
width: 40px;
height: 40px;
border-radius: 50%;
cursor: pointer;
}

.user-name h5 {
margin-bottom: 0;
color: #757575;
}

.user-name h5 span {
color: var(--main-blue);
}

.user img {
object-fit: cover;
}


footer{
background:rgba(236, 235, 235, 0.3);
}
.footer-text{
font-size: 11px;
}

.home-section .home-content {
background: #eeeded;
align-items: center;

position: relative;
padding: 0 20px 0 20px;

}

.home-section {
position: relative;
height: 100%;
left: 260px;
width: calc(100% - 260px);
transition: all 0.5s ease;

background: var(--blue-darkest);
}

.sidebar.close~.home-section {
left: 78px;
width: calc(100% - 78px);
}

.home-section .home-topbar {
height: 60px;
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;
padding: 0 20px 0 20px;
background: #ffff;
z-index: 90;
}

.home-section .home-topbar .bx-menu,
.home-section .home-topbar .text {
color: #11101d;
font-size: 35px;
}

.home-section .home-topbar .bx-menu {

cursor: pointer;
}

.home-section .home-topbar .text {
font-size: 26px;
font-weight: 600;
}

.page-title .webname{
font-size: 90px;
font-weight: 600;
color: #fff;
letter-spacing: 2px;
}

.page-title .title{
  font-size: 55px;
  width: 400px;
  height: 75px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
  color: #fff;
}



  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .w3-pointer{
    cursor: pointer;
  }
  .modal-header{
    background-color: var(--main-blue);
    color: #fff;
  }

  .addproj, .additem, .addjrd{
    background: rgb(32,191,85);
    background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
  }

  .modal-body{
    font-size: 18px;
    color: #333;
  }

  .jmc{
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    position: relative;
    background: var(--darkest-blue);

  }

  .mainBody{
    height: 90vh;
    width: 100%;
  }

  .project, .item, .jrd{
    position: relative;
    width: 100%;

    margin: 0;
    
  }
  .project .page-title .title{
    font-size: 70px;
    width: 275px;
    height: 85px;
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    background: var(--card-color);
    background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
  }
  .project .page-title{
    align-self: start;
    color: #fff;
  }
  .project .content{

    height: 750px;
    background: rgb(240, 240, 240);
    border-radius: 20px;
    overflow: auto;
  }
  .project .content .title button{
    height: 45px;
    background: rgb(32,191,85);
    background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}
.project .content .title button i{
  font-size: 25px;
}
  .project .content .title h1{
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 1px;
    color: var(--main-blue);
  }
  .project .content .table-container{
    height: 600px;
    width: 100%;
  }
  .project .content .table-container table thead{
    font-size: 20px;
    background: var(--white-color);
  }
  .project .content .table-container table td{
   font-size: 20px;
  }
  .project .content .table-container table td button{
    height:40px;
    width: 40px;
  }
  .project .content .table-container table td button i{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .content .table-container table tbody tr:hover{
    background: var(--main-blue);
  }
  .project .content .table-container table tbody tr:hover td{
    color: #fff;
  }
  .project .content .table-container table thead th{
    color: var(--darkest-blue);
  }


/* ITEM OF WORKS */

.item .page-title .title{
  font-size: 70px;
  width: 275px;
  height: 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
}
.item .page-title{
  align-self: start;
  color: #fff;
}
.item .content{
  align-self: center;
  height: 750px;
  background: rgb(240, 240, 240);
  border-radius: 20px;
  overflow: auto;
}
.item .content .title button{
  height: 45px;
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}
.item .content .title button i{
  font-size: 25px;
}
.item .content .title h1{
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 1px;
  color: var(--tertiary-blue);
}.item .content .selectedproj{
  font-weight: 600;
}
.item .content .table-container{
  height: 600px;
  width: 100%;
}
.item .content .table-container table thead{
  font-size: 20px;
  background: var(--white-color);

}
.item .content .table-container table thead th{
  color: var(--darkest-blue);
}
.item .content .table-container table td{
 font-size: 20px;
}
.item .content .table-container table td button{
  height:40px;
  width: 40px;
}
.item .content .table-container table td button i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .content .table-container table tbody tr:hover{
  background: var(--tertiary-blue);
}
.item .content .table-container table tbody tr:hover td{
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.item .content .title .selectedCont{
  height: 50px;
 
}

.checkbox{
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;

}
.checkbox::after{
  content: '';
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left .3s;

}
.checkbox:checked{
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
}
.checkbox:checked::after{
  left: 75%;
  content: '\2713';
  background-color: #fff;
  color: var(--text-color);
}



/* JOB REQUEST DESCRIPTION */

.jrd .page-title .title{
  font-size: 70px;
  width: 275px;
  height: 85px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(45deg, rgba(254,95,117,1) 0%, rgba(252,152,66,1) 100%);opacity: 1;
}
.jrd .page-title{
  align-self: start;
  color: #fff;
}
.jrd .content{
  align-self: center;
  height: 750px;
  background: rgb(240, 240, 240);
  border-radius: 20px;
  overflow: auto;
}
.jrd .content .title button{
  height: 45px;
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
}
.jrd .content .title button i{
  font-size: 25px;
}
.jrd .content .title h1{
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 1px;
  color: var(--tertiary-blue);
}.jrd .content .selectedproj{
  font-weight: 600;
}
.jrd .content .table-container{
  height: 600px;
  width: 100%;
}
.jrd .content .table-container table thead{
  font-size: 20px;
  background: var(--white-color);

}
.jrd .content .table-container table thead th{
  color: var(--darkest-blue);
}
.jrd .content .table-container table td{
 font-size: 20px;
}
.jrd .content .table-container table td button{
  height:40px;
  width: 40px;
}

.jrd .content .table-container table td button i{
  display: flex;
  justify-content: center;
  align-items: center;
}
.jrd .content .table-container table tbody tr:hover{
  background: var(--tertiary-blue);
}
.jrd .content .table-container table tbody tr:hover td{
  color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.jrd .content .title .selectedCont{
  height: 50px;
}

.checkbox{
  -webkit-appearance: none;
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background .3s;
  outline: none;
  cursor: pointer;

}
.checkbox::after{
  content: '';
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  background-color: #fff;
  transition: left .3s;

}
.checkbox:checked{
  background: rgb(32,191,85);
  background: linear-gradient(45deg, rgba(32,191,85,1) 0%, rgba(1,186,239,1) 100%);
}
.checkbox:checked::after{
  left: 75%;
  content: '\2713';
  background-color: #fff;
  color: var(--text-color);
}




@media (max-width: 530px) {

  .sidebar.close .nav-links li .sub-menu {
      display: none;
  }
  .sidebar.close .nav-links li{
      display: none;
  }

  .sidebar {
      width: 425px;
      z-index: 100;
      
  }
  .sidebar.close .logo-details
  {
      display: none;
  }
  .sidebar .menu-two{
      display: block;
  }
  .sidebar.close {
    width: 0px;
  }

  .home-topbar{
      z-index: 90;
      width: 100%;
  }

  .home-section {
      left: 0px;
      width: 425px;
     
  }

  .sidebar.close~.home-section {
      width: 100%;
      left: 0px;
      
  }

  footer {
      height: 25px; 
      background:rgba(219, 217, 217, 0.5);
      
  }
  footer div{
      font-size: 11px;
  }
  .jmc{
    position: relative;
    overflow-x: auto;
  }
  .project{
    position: relative;
    width: auto;
  }

}
@media (max-width: 770px){
  .jmc{
    overflow-x: auto;
  }
  .project .content .table-container table td,
  .project .content .table-container table thead th{
    font-size: 16px;
  }
  .project .page-title .title{
    font-size: 55px;
    width: 185px;
    height: 65px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .project .content .title h1{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: normal;
  }
  .project .content .table-container{
    min-height: 450px;
    max-height: 680px;
  }
  .project .content{
    min-height: 650px;
    max-height: 720px;
  }
  .form-label{
    font-size: 16px;
    padding-top: 10px;
  }
  .home-content{
    width: 100vw;
  
}
} 