/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--darkest-blue);
  height: 100vh;
  overflow: hidden;
}
.cont::-webkit-scrollbar {
  width: 10px;
}
.cont::-webkit-scrollbar-track {
  background: #ebebeb;
}
.cont::-webkit-scrollbar-thumb {
  background: #6383a1;
  border-radius: 25px;
}

:root {
  --main-blue: #3980c7;
  --secondary-blue: #395dc7;
  --tertiary-blue: #39a4c7;
  --darkest-blue: #16334f;

  --red-color: #ff6b6b;
  --yellow-color: #feca57;
  --text-color: #555;
  --header-color: #444;
  --lightblue-color: #476f95;
  --green-color: #7bae37;

  /* ni-hide ko ppo yung scroll kasi naka vh naman na yung content (.cont) */
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--main-blue);
  z-index: 10000;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar .logo-details .logo_name.home {
  font-size: 17px;
  color: #fff;
  font-weight: 400;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links {
  height: calc(100% - 120px);
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sidebar .nav-links li:hover {
  background: var(--tertiary-blue);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 56px;
  min-width: 78px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  transition: all 0.4s ease;
}

.sidebar .logo_name {
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  transition: all 0.4s ease;
}
.sidebar.close .logo_name {
  display: none;
  pointer-events: none;
  opacity: 0;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 50px;
  margin-top: -10px;
  background: var(--tertiary-blue);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: #ffff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  z-index: 10000000;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.25) inset;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

/* topbar */

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.user-name h5 {
  margin-bottom: 0;
  color: #757575;
}

.user-name h5 span {
  color: var(--main-blue);
}

.user img {
  object-fit: cover;
}

footer {
  background: rgba(236, 235, 235, 0.3);
}
.footer-text {
  font-size: 11px;
}

.home-section .home-content {
  background: #eeeded;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.home-section {
  position: relative;

  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;

  background: var(--blue-darkest);
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-topbar {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background: #ffff;
}

.home-section .home-topbar .bx-menu,
.home-section .home-topbar .text {
  color: #11101d;
  font-size: 35px;
}

.home-section .home-topbar .bx-menu {
  cursor: pointer;
}

.home-section .home-topbar .text {
  font-size: 26px;
  font-weight: 600;
}
.maindiv .top {
  justify-content: space-between;
}
.page-title .title {
  font-size: 55px;
  width: 400px;
  height: 75px;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background: var(--card-color);
  background: linear-gradient(
    45deg,
    rgba(254, 95, 117, 1) 0%,
    rgba(252, 152, 66, 1) 100%
  );
  opacity: 1;
  color: #fff;
}
.page-title {
  align-self: start;
}
.cont .maindiv {
  width: 100%;
}
.gotoDMR a:hover i,
.gotoDMR a:hover span {
  color: rgba(252, 152, 66, 1) !important;
}
.cont {
  /* para hiwalay yung overflow ng cont div */
  overflow-y: auto;

  height: 94.5vh;
  justify-content: center;
  background-color: #16334f;
}

.btn {
  letter-spacing: 1px;
}

.top-right {
  height: calc(100vh - 230px);
}

.edit {
  height: 40px;
  width: 40px;
  background-color: var(--main-blue);

  margin: 2px;
}
.delBut {
  height: 40px;
  width: 40px;
  background-color: var(--red-color);

  margin: 2px;
}

.addEntry-btn {
  background: linear-gradient(
    45deg,
    rgba(32, 191, 85, 1) 0%,
    rgba(1, 186, 239, 1) 100%
  );
  color: #fff;
  padding: 10px 20px;
}
.badge {
  height: 40px;
}
.done {
  pointer-events: none;
}
.modal {
  z-index: 100000;
}

.table-cont {
  height: calc(100% - 120px);
}
.table-cont table thead {
  position: sticky;
  top: 0;
  vertical-align: middle;
}

/*loaderrrrr*/

.cs-loader {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 25000;
  display: flex;
  justify-content: center;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display: inline-block;
  color: var(--main-blue);
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 1.5s infinite ease-in-out;
  animation: lol 1.5s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 1.5s 100ms infinite ease-in-out;
  animation: lol 1.5s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 1.5s 200ms infinite ease-in-out;
  animation: lol 1.5s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 1.5s 300ms infinite ease-in-out;
  animation: lol 1.5s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 1.5s 400ms infinite ease-in-out;
  animation: lol 1.5s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 1.5s 500ms infinite ease-in-out;
  animation: lol 1.5s 500ms infinite ease-in-out;
}

/* SELECT PROJECT */

.proj.active .content {
  display: block;
}
.proj .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.proj .content .search {
  position: relative;
}
.proj .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.proj .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.proj .content .options::-webkit-scrollbar {
  width: 7px;
}
.proj .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.proj .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.proj .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.proj .content .options li:hover {
  background: #f2f2f2;
}

/* SELECT ITEM OF WORKS */

.iow.active .content {
  display: block;
}
.iow .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.iow .content .search {
  position: relative;
}
.iow .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.iow .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.iow .content .options::-webkit-scrollbar {
  width: 7px;
}
.iow .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.iow .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.iow .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.iow .content .options li:hover {
  background: #f2f2f2;
}

/*SELECT JRD */
.jord.active .content {
  display: block;
}
.jord .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.jord .content .search {
  position: relative;
}
.jord .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 1.5;
}
.jord .content .options {
  margin-top: 10px;
  max-height: 220px;
  overflow-y: auto;
}
.jord .content .options::-webkit-scrollbar {
  width: 7px;
}
.jord .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.jord .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.jord .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.jord .content .options li:hover {
  background: #f2f2f2;
}

/***********EMPLOYEE SELECTION **************/
.employeeSelection {
  position: relative;
  max-height: 150px;
  width: 766px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.employeeSelection p span i {
  cursor: pointer;
  margin: 0;
}
.employeeSelection p span {
  background-color: var(--main-blue);
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  position: relative;
}
.employeeSelection p {
  line-height: 250%;
}

.empl.active .content {
  display: block;
}
.empl .content {
  position: absolute;
  background: #fff;
  margin-top: 5px;
  padding: 20px;

  display: none;
  border: 1px solid #333;

  z-index: 5;
}
.empl .content .search {
  position: relative;
}
.empl .content .search i {
  position: absolute;
  left: 10px;
  top: 5px;
  line-height: 2;
}
.empl .content .options {
  margin-top: 10px;
  max-height: 220px;

  overflow-y: auto;
}
.empl .content .options::-webkit-scrollbar {
  width: 7px;
}
.empl .content .options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.empl .content .options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.empl .content .options li {
  height: 35px;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0 13px;
}
.empl .content .options li:hover {
  background: #f2f2f2;
}

@media (max-width: 550px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  .sidebar.close .nav-links li {
    display: none;
  }

  .sidebar {
    width: 100%;
    z-index: 10000;
  }
  .sidebar.close .logo-details {
    display: none;
  }
  .sidebar .menu-two {
    display: block;
  }
  .sidebar.close {
    width: 0px;
  }

  .home-topbar {
    z-index: 99;
  }

  .home-section {
    left: 0px;
    width: 425px;
  }
  .home-content {
    width: 100vw;
  }

  .sidebar.close ~ .home-section {
    width: 100%;
    left: 0px;
  }
  .sidebar.close ~ .table thead tr {
    display: none;
  }

  footer {
    height: 25px;
    background: rgba(219, 217, 217, 0.5);
  }
  footer div {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  .page-title .title {
    font-size: 45px;
    width: 350px;
    height: 60px;
  }
}
